<div id="footer">
    <div class="float-left footer-font">
     <a class="footer-font" href="/browse">Browse</a> <a class="footer-font" href="/dmca">
            DMCA</a> 
    </div>
    <div class="float-right footer-font">
        <a class="footer-font" href="/terms">Terms of Use</a> <a class="footer-font" href="/privacy">
            Privacy Policy</a> <span>© 2012 iFlixR</span>
    </div>
</div>
