<div id="top-menu-banner">
    <div id="top-menu-search-container">
        <form>
        <div class="search-box-div" >
            <input class="search-box-input" type="text" ></input>
        </div>
        </form>
    </div>
    <div id="top-menu-left-container">
        <div id="top-menu-language" >
            <select class="chzn-select" style="width:100px" data-placeholder="Language">
                <option value="0"></option>
                <option value="1">Hindi</option>
                <option value="2">Malayalam</option>
                <option value="3">Tamil</option>
                <option value="4">Telugu</option>
            </select>
        </div>
        <div id="top-menu-category" >
            <select class="chzn-select" style="width:100px" data-placeholder="Category">
                <option value="0"></option>
                <option value="1">Movies</option>
                <option value="2">Music</option>
                <option value="3">Clips</option>
                <option value="4">Trailers</option>
                <option value="5">TV Shows</option>
            </select>
        </div>
    </div>
</div>
