<div id="video-player-section">
    <div id="video-player-container">
        <div id="video-player" class="js-video">
            <iframe  src="http://www.youtube.com/embed/Kmet_qJoN_U?html5=1&autoplay=0&autohide=1&fs=1&rel=0&hd=1&wmode=opaque&enablejsapi=1&layout=button_count&show_faces=true&action=like&font&colorscheme=light">
            </iframe>
        </div>
    </div>
</div>
