@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Login</h2>
<form action="/Account/Login/" method="post">
<input type="text" name="username"/>
<input type="text" name="password"/>
<input type="submit" />
</form>