@using IFlixr.Cooking.ViewModel
@model RecipePageViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div  class="vm-page">
@Html.Partial("_RecipePage", Model)
</div>

@section Script{
    <script type="text/javascript">
        $(function () {

                @if (Model.Js)
                {
                   <text>
                   app.recipeView.init(@Html.Raw(Json.Encode(Model)));
                   </text>
                   
                }
                
        });
    </script>
}
