<div class="bg-mask-darken" data-bg-img="/Content/img/bg/desk-blur.jpg">
    <div class="container mask-front">
        <div class="gap">
        </div>
        <h2 class="white">
            Discover BlipIT?</h2>
        <div class="gap">
            <div class="row row-wrap">
                <div class="span3">
                    <div class="thumb white">
                        <div class="thumb-header">
                            <i class="icon-globe box-icon-big box-icon-white round box-icon-border box-icon-to-normal animate-icon-left-to-right">
                            </i>
                        </div>
                        <div class="thumb-caption">
                            <h5 class="thumb-title">
                                <a href="#">Share Videos</a></h5>
                            <p class="thumb-desc">
                                Suspendisse nisl maecenas nisl ante viverra purus lobortis</p>
                        </div>
                    </div>
                </div>
                <div class="span3">
                    <div class="thumb white">
                        <div class="thumb-header">
                            <i class="icon-dashboard box-icon-big box-icon-white round box-icon-border box-icon-to-normal animate-icon-left-to-right">
                            </i>
                        </div>
                        <div class="thumb-caption">
                            <h5 class="thumb-title">
                                <a href="#">Watch Videos</a></h5>
                            <p class="thumb-desc">
                                Platea aptent urna faucibus sagittis litora nascetur lectus</p>
                        </div>
                    </div>
                </div>
                <div class="span3">
                    <div class="thumb white">
                        <div class="thumb-header">
                            <i class="icon-flag box-icon-big box-icon-white round box-icon-border box-icon-to-normal animate-icon-left-to-right">
                            </i>
                        </div>
                        <div class="thumb-caption">
                            <h5 class="thumb-title">
                                <a href="#">Create Channels</a></h5>
                            <p class="thumb-desc">
                                Consectetur sollicitudin sit nisl sem hendrerit dolor aenean</p>
                        </div>
                    </div>
                </div>
                <div class="span3">
                    <div class="thumb white">
                        <div class="thumb-header">
                            <i class="icon-cog box-icon-big box-icon-white round box-icon-border box-icon-to-normal animate-icon-left-to-right">
                            </i>
                        </div>
                        <div class="thumb-caption">
                            <h5 class="thumb-title">
                                <a href="#">Review</a></h5>
                            <p class="thumb-desc">
                                Nisl ornare viverra nullam ac ante integer morbi</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
